---
- name: Add backup
  when:
    - filebackup_uninstall == false
    - filebackup_jobs is defined
    - filebackup_jobs | length > 0
  block:
    - name: Install
      ansible.builtin.include_tasks: install.yml  

    - name: Setup
      ansible.builtin.include_tasks: setup.yml

- name: Remove backup
  when: filebackup_uninstall == true
  block:
    - name: Clean
      ansible.builtin.include_tasks: clean.yml
